.wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #B2B2B2;
}

.header {
	width: 100%;
	height: 40px;
	border-radius: 0 0 10px 10px;
	background-color: #9F9F9F;
	box-shadow: 0px 0px 10px 10px #9F9F9F;
}

.container {
	height: 100%;
	width: 1024px;
	margin: 0 auto;
}

.header__row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.title {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0.06em;
}

.header__title {
	text-shadow: 0px -5px 15px black;
	margin: 0 auto;
}

.keyboard-info {
	margin: 0 auto;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.language-buttons {
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}

.lang-btn {
	height: 25px;
	width: 49%;
	background-color: #5B5B5B;
	border: none;
	color: #B2B2B2;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	transition: all 0.2s;
}

.lang-btn:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px #B2B2B2;
	background-color: #4C4C4C;
}

.lang-btn:active {
	background-color: #B2B2B2;
	border: 1px solid #4C4C4C;
	color: #4C4C4C;
	text-shadow: 0px 0px 10px #4C4C4C;
}

.button-en {
	border-radius: 50px 0 0 50px;
}

.colored-text {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.2em;
	text-shadow: 0px 0px 10px black;
	color: black;
}

.button-ru {
	border-radius: 0 50px 50px 0;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	color: #4C4C4C;
	font-size: 14px;
	width: 100%;
	text-align: center;
	line-height: 1.2em;
	margin-top: 10px;
}

.main {
	width: 100%;
	height: 90%;
	padding: 15px 0px 20px 0px;
}

.screen {
	width: 100%;
}

#screen {
	display: block;
	box-sizing: border-box;
	resize: none;
	margin: 0 auto;
	border: none;
	background-color: #5B5B5B;
	border-radius: 5px;
	box-shadow: 0px 0px 15px 5px #4C4C4C;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #B2B2B2;
	font-weight: bold;
	letter-spacing: 0.1em;
	caret-color: #B2B2B2;
}

#screen:focus-visible {
	border: none;
	outline: none;
}

#screen::placeholder {
	text-transform: uppercase;
	display: flex;
	text-align: center;
	position: relative;
	top: 60px;
	color: #4C4C4C;
}

.keyboard {
	width: 1024px;
	height: 590px;
	background: url(./assets/images/batlogo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 15px auto;
	display: flex;
	justify-content: center;
	position: relative;
}

.keyboard__body {
	width: 80%;
	height: 45%;
	position: absolute;
	top: calc(18%);
}

.keyboard__row {
	box-sizing: border-box;
	height: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.keyboard__btn {
	width: 45px;
	height: 45px;
	background-color: #4C4C4C;
	border-radius: 5px;
	color: #B2B2B2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.09s;
	user-select: none;
}

.keyboard__btn:hover {
	cursor: pointer;
	background-color: #B22222;
	border-radius: 10px;
	color: black;

}

.keyboard__btn:active {
	border-radius: 50%;
	background-color: #8B0000;
}

.colored-square {
	border-radius: 50%;
	background-color: #8B0000;
}

.keyboard__btn[pressed] {
	border-radius: 15px;
	background-color: #8B0000;
}


.caps-colored {
	background-color: #8B0000;
}

.caps-colored:hover {}

#ShiftLeft,
#CapsLock,
#ControlLeft,
#AltLeft,
#Delete {
	width: 75px;
}

#ShiftRight {
	width: 106px;
}

#Space {
	width: 285px;
}

#ShiftLeft:active,
#ShiftRight:active,
#Backspace:active,
#CapsLock:active,
#Enter:active,
#ControlLeft:active,
#AltLeft:active,
#Delete:active,
#Space:active {
	border-radius: 15px;
}

#Backspace,
#Enter {
	width: 106px;
}